*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
header{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
input[type="text"]{
  color: black;
  outline: none;
  padding: 8px;
  border: 1px solid #323334;
  border-radius: 3px;
}
form{
  width: 80%;
}
form div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
button{
  padding: 10px 20px;
  color: #e6e6e6;
  background: #0b49da;
  border: none;
  cursor: pointer;
}
.container{
  margin-top: 50px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100hv;
  width: 600px;
  border-radius: 8px;
  margin: 30px auto 0;
}




a{
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.container a{
  border: 1px solid rgb(101, 101, 101);
  border-radius: 5px;
  padding: 3px 7px;
}

a.edit{
  background: rgb(5, 5, 184);
}
a.delete{
  background: rgb(198, 0, 0);
}

.navbar{
  display: flex;
}

ul.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #747474;
  width: 100%;
  box-shadow: 0 0 8px hsl(0, 0%, 53%);
}

li.navitem{
  float: left;
}

a.navcontent{
  display: block;
  color: hsl(0, 0%, 95%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.navcontent:hover{
  background-color: #111;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
td, th{
  padding: 5px;
  border: 1px solid black;
}
td.action{
  text-align: center;
}

.about{
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
.about h1{
  text-align: center;
  margin-bottom: 10px;
}