{% extends "base.html" %}

{% block title %}
Edit Book
{% endblock %}

{% block content %}
<div class="container">
  <header>Update Book</header>
  <form action="" method="post">
    <div>
      <input type="text" name="isbn" value="{{ book.isbn }}" placeholder="Update ISBN">
      <input type="text" name="title" value="{{ book.title }}" placeholder="Update Title">
      <input type="text" name="author" value="{{ book.author }}" placeholder="Update Author">
    </div>
    <button type="submit">Update Book</button>
  </form>
</div>
{% endblock %}
