{% extends "base.html" %}

{% block title %}
To-do Homepage
{% endblock %}


{% block content %} 

<div class="container">
  <header>Book Catalogs</header>
  <form action="/" method="post">
    <div>
      <input type="text" name="isbn" placeholder="ISBN">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="author" placeholder="Author">
    </div>
    <button type="submit">Add Book</button>
  </form>

  <table>
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
      <th>Action</th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book['isbn'] }}</td>
      <td>{{ book['title'] }}</td>
      <td>{{ book['author'] }}</td>
      <td class="action">
        <a class="edit" href="{{ url_for('edit_book', book_id = book.id) }}">🖋</a>
        <a class="delete" href="{{ url_for('delete_book', book_id = book.id) }}">🗑</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}